
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Contatos Recebidos</div>
      <div class="panel-body">
        <table data-toggle="table" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                  <th data-field="name"  data-sortable="true">Nome e Mensagem</th>
                  <th data-field="created" data-sortable="true">Enviado em</th>
                  <th data-field="actions" data-sortable="true">Ações</th>
              </tr>
            </thead>
            <tbody>
            <% @messages.each do |message| %>
                <tr>
                  <td>
                    <strong><%= message.visitor.fullname %></strong>
                    <p><%= message.content.first(100) %> ... </p>
                  </td>
                  <td><%= time_ago_in_words(message.created_at) %></td>
                  <td>
                    <%= link_to admin_message_path(message) do %>
                      <button class="btn btn-primary" type="button" name="toggle" title="Toggle">
                        Ler Mensagem
                      </button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>