<div class="row">
  <ol class="breadcrumb">
    <li>
      <%= link_to admin_dashboard_index_path do %>
        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
      <% end %> 
    </li>
    <li><%= t('menu.'+controller.controller_name.to_s) %>  </li>
  </ol>
</div>
<br />
<!-- <div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t('menu.'+controller.controller_name.to_s) %> <swe/h1>
  </div>
</div> -->