  <div class="container">
    <div class="box">
      <% @products.each do |product| %>
        <div class="item">
          <%= link_to site_product_path(product) do %>
            <%= image_tag(product.pictures.first.image)  %>
            <div>
              <%= product.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <button class="btn-principal pull-right">
        Ver todos produtos
      </button>
    </div>
  </div>