
/*@font-face {
  font-family: 'Satisfy';
  src: url('/assets/satisfy-regular.ttf');
  src: url('/assets/satisfy-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/raleway-regular.ttf');
  src: url('/assets/raleway-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
  overflow-x:hidden;
}

*{
  font-family: Raleway;
}

a{
  color:#B2DCDB;
}

a:hover,
a:active,
a:focus{
  color:#55BBBB;
  text-decoration: none;
  outline: 0;
  -webkit-transition: 0.5s; 
  transition: 0.5s;
}

#logo{
  text-align: center;
  padding:45px;
}

#logo h1{
  font-family: Satisfy;
  color: #55BBBB;
  /*font-size:85px;*/
  font-size:100px;
}

#logo h2{
  margin-top:-10px;
  font-family: Raleway;
  color: #AAA;
  font-size: 18px;
  letter-spacing: 1px;
}

#menu{
  margin-bottom: 60px;
}

#menu a{
  font-size:15px;
  font-weight: bold;
  text-transform: uppercase;
  color:#5F5F5F;
}

#menu a:hover{
  opacity: 0.5;
  -webkit-transition: 0.35s; 
  transition: 0.35s;
}


@media (min-width: 468px) {
  .box {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (min-width: 768px) {
  .box {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}

.box > .item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid; 
  break-inside: avoid-column;
  padding:10px 0;
}

.box > .item img{
  width:100%;
  border:1px solid #CCC;
}

.box > .item div{
  margin:10px 0;
}

.box > .item a{
  color:#3284A2;
  font-weight: bold;
  font-size: 14px;
}

.box > .item a:hover{
  color:#8AACB9;
  opacity: 0.5;
  -webkit-transition: 0.35s; 
  transition: 0.35s;
}

footer .row{
  background-color:#55BBBB;
  margin-top: 40px;
}

footer .container{
  padding:10px 0 0 0;
}

footer p{
  color:#FFF;
}

footer a{
  color:#d0eeed;
}

footer a:hover{
  color:#FFF;
}

.pagination a{
  color:#3284A2;
}

#product .row{
  padding-top: 100px;
}

.btn-principal{
  border-radius: 2px;
  color: #ffffff;
  background: #55BBBB;
  padding: 9px 18px 10px 20px;
  text-decoration: none;
  border:0;
  font-size: 13px;
  font-weight: bold;
  font-family: Raleway;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
  /*margin-right: 15px;*/
  text-transform: uppercase;
  text-shadow: 0;
  margin-right:15px;
}

.btn-principal:hover{
  -webkit-transition: 0.35s; 
  transition: 0.35s;
}

.panel-body .btn{
  font-weight: bold;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
}


.carousel-control.left,
.carousel-control.right {
  background-image: none;

}
.form-control:focus {
  border-color: #55BBBB;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}